body{
margin:0;
background:#08131d;
font-family:Arial;
color:white;
display:flex;
}

.sidebar{
width:260px;
height:100vh;
background:#0d1b2a;
padding:20px;
}

.sidebar h1{
color:#22d3ee;
}

.main{
flex:1;
padding:20px;
}

.topbar{
display:flex;
gap:10px;
margin-bottom:20px;
}

input{
flex:1;
padding:15px;
background:#102636;
border:none;
border-radius:15px;
color:white;
}

button{
padding:15px 25px;
background:#22d3ee;
border:none;
border-radius:15px;
font-weight:bold;
cursor:pointer;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
}

.card{
height:300px;
background:#102636;
border-radius:20px;
padding:20px;
box-shadow:0 0 20px rgba(34,211,238,.1);
}
