*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#08131d;
font-family:Arial;
color:white;
display:flex;
height:100vh;
overflow:hidden;
}

.sidebar{
width:250px;
background:#0d1b2a;
padding:25px;
display:flex;
flex-direction:column;
justify-content:space-between;
border-right:1px solid rgba(255,255,255,.05);
}

.sidebar h1{
color:#22d3ee;
font-size:32px;
margin-bottom:40px;
letter-spacing:2px;
}

.menu{
display:flex;
flex-direction:column;
gap:12px;
}

.menu-item{
padding:14px;
border-radius:14px;
background:#102636;
cursor:pointer;
transition:.2s;
}

.menu-item:hover{
background:#163447;
}

.active{
background:#22d3ee;
color:#000;
font-weight:bold;
}

.version{
opacity:.4;
font-size:14px;
}

.main{
flex:1;
padding:25px;
overflow:auto;
}

.topbar{
display:flex;
gap:15px;
margin-bottom:25px;
}

input{
flex:1;
padding:16px;
background:#102636;
border:none;
border-radius:16px;
color:white;
font-size:15px;
outline:none;
}

button{
padding:16px 26px;
background:#22d3ee;
border:none;
border-radius:16px;
font-weight:bold;
cursor:pointer;
transition:.2s;
}

button:hover{
transform:scale(1.03);
}

.status{
padding:16px 22px;
border-radius:16px;
font-weight:bold;
}

.offline{
background:#4b1d1d;
color:#ff7777;
}

.online{
background:#123524;
color:#00ff88;
}

.grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
}

.card{
background:#102636;
border-radius:24px;
padding:22px;
min-height:220px;
box-shadow:
0 0 20px rgba(34,211,238,.08);
border:1px solid rgba(255,255,255,.04);
}

.card h2{
font-size:16px;
margin-bottom:20px;
color:#22d3ee;
}

.placeholder{
height:150px;
border-radius:18px;
background:#08131d;
display:flex;
align-items:center;
justify-content:center;
opacity:.5;
}

.device-online{
color:#00ff88;
font-size:18px;
font-weight:bold;
}

.camera .placeholder{
height:220px;
}

@media(max-width:1000px){

.grid{
grid-template-columns:1fr;
}

.sidebar{
display:none;
}

}
